[Unit]
Description=postcardscanner

[Service]
Type=simple
WorkingDirectory=/home/pi/postcardscanner/app
User=pi
ExecStart=/home/pi/postcardscanner/venv/bin/python3 -m uvicorn main:app --host 0.0.0.0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
